PORT=4001
DB_PATH=./data/cve.db
NVD_API_BASE=https://services.nvd.nist.gov/rest/json/cves/2.0
NVD_API_KEY=
NVD_RESULTS_PER_PAGE=2000
NVD_REQUEST_DELAY_MS=6500
NVD_SYNC_MAX_PAGES=0
INCREMENTAL_LOOKBACK_DAYS=7
SYNC_CRON=0 */6 * * *
BOOTSTRAP_SYNC_ON_START=true
